@page
@model ImageSearchApp.Pages.Dishs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ImageUpload.Title" class="control-label"></label>
                <input asp-for="ImageUpload.Title" type="text" class="form-control" />
                <span asp-validation-for="ImageUpload.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUpload.UploadImg" class="control-label"></label>
                <input asp-for="ImageUpload.UploadImg" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="ImageUpload.UploadImg" class="text-danger"></span>
            </div>
            <input type="submit" value="Upload" class="btn btn-default" />
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].ImgSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].ImgContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].UploadDT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dish)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgSize)
                </td>
                <td>
                    <img alt="@Html.DisplayFor(modelItem => item.Title)" src="data:@Html.DisplayFor(modelItem => item.ImgType);base64,@Html.DisplayFor(modelItem => item.ImgContent)" style="max-width:60px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDT)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
