@page
@model ImageAI.Pages.Dishs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

<h3>确认删除?</h3>
<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dish.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dish.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dish.ImgSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dish.ImgSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dish.ImgContent)
        </dt>
        <dd>
            <img alt="@Html.DisplayFor(model => model.Dish.Title)" src="data:@Html.DisplayFor(model => model.Dish.ImgType);base64,@Html.DisplayFor(model => model.Dish.ImgContent)" style="max-width:800px;" />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Dish.ImgType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dish.Data)
        </dt>
        <dd>
            <textarea class="textarea" readonly="readonly" style="width:800px;background-color:ghostwhite">@Html.DisplayFor(model => model.Dish.Data)</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dish.UploadDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dish.UploadDT)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Dish.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        var textarea = $(".textarea");
        textarea.each(function () {
            var current = $(this);
            current.height(current.scroll().context.scrollHeight);
        });
    </script>
}
